.wishListContainer {
  position: relative;
  cursor: pointer;
  align-self: flex-end;
}

.wishListQuantity {
  background-color: #ff0000;
  height: 22px;
  width: 22px;
  border-radius: 10px;
  text-align: center;
  border: 1px solid black;
  position: absolute;
  top: -16px;
  right: -5px;
  font-size: 12px;
  color: white;
}
