.categoryImg {
  width: 10rem;
  height: 10rem;
  overflow: hidden;
  border-radius: 50%;
  background-color: #f2f2f2;
}
.categoryImg img {
  width: 100%;
}

.categoryTitle {
  text-align: center;
  font-size: 1.1rem;
  text-transform: capitalize;
  margin-top: 10px;
}
